In [2]:
# Importing necessary libraires

from sqlalchemy import create_engine, text
import pandas as pd

# We first Check and Veridy the data before we insert into the Database

In [ ]:
df_BI = pd.read_csv("/Users/harshdaruka/Documents/Projects/Vendor_Data_Analysis/Data/begin_inventory.csv")
df_BI.head()

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2024-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2024-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2024-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2024-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2024-01-01

In [4]:
df_BI.describe()

               Store          Brand         onHand          Price
count  206529.000000  206529.000000  206529.000000  206529.000000
mean       42.122457   13761.482320      20.429455      22.253910
std        23.191393   13059.429355      31.467342      70.178964
min         1.000000      58.000000       0.000000       0.000000
25%        22.000000    3746.000000       7.000000       9.990000
50%        42.000000    8010.000000      12.000000      14.990000
75%        64.000000   22143.000000      21.000000      21.990000
max        79.000000   90090.000000    1251.000000   13999.900000

In [5]:
df_BI.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206529 entries, 0 to 206528
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InventoryId  206529 non-null  object
 1   Store        206529 non-null  int64
 2   City         206529 non-null  object
 3   Brand        206529 non-null  int64
 4   Description  206529 non-null  object
 5   Size         206529 non-null  object
 6   onHand       206529 non-null  int64
 7   Price        206529 non-null  float64
 8   startDate    206529 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 14.2+ MB

Important observations:
1. the column "onHad" should be changed to INT
2. startDate should ne change to DATE format

In [6]:
# changing the data types of the columns
df_BI["onHand"] = df_BI["onHand"].astype(int)
df_BI["startDate"] = pd.to_datetime(df_BI["startDate"])

df_BI.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206529 entries, 0 to 206528
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InventoryId  206529 non-null  object
 1   Store        206529 non-null  int64
 2   City         206529 non-null  object
 3   Brand        206529 non-null  int64
 4   Description  206529 non-null  object
 5   Size         206529 non-null  object
 6   onHand       206529 non-null  int64
 7   Price        206529 non-null  float64
 8   startDate    206529 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(3), object(4)
memory usage: 14.2+ MB

In [7]:
# Checking for null values
df_BI.isnull().sum()

InventoryId    0
Store          0
City           0
Brand          0
Description    0
Size           0
onHand         0
Price          0
startDate      0
dtype: int64

In [8]:
# Checking for Duplicates
df_BI.duplicated().sum()

np.int64(0)

In [9]:
#checking if the field inventory id is unique
df_BI['InventoryId'].is_unique

True

## Now we do this for the remaining datasets

In [ ]:
df_EI = pd.read_csv("/Users/harshdaruka/Documents/Projects/Vendor_Data_Analysis/Data/end_inventory.csv")
df_EI.head()

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2024-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2024-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2024-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2024-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2024-12-31

In [11]:
df_EI.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224489 entries, 0 to 224488
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InventoryId  224489 non-null  object
 1   Store        224489 non-null  int64
 2   City         223205 non-null  object
 3   Brand        224489 non-null  int64
 4   Description  224489 non-null  object
 5   Size         224489 non-null  object
 6   onHand       224489 non-null  int64
 7   Price        224489 non-null  float64
 8   endDate      224489 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 15.4+ MB

In [12]:
df_EI.describe()

               Store          Brand         onHand          Price
count  224489.000000  224489.000000  224489.000000  224489.000000
mean       43.505740   14356.370513      21.763988      23.585583
std        23.326415   13118.467851      37.233576      79.202775
min         1.000000      58.000000       0.000000       0.490000
25%        23.000000    3798.000000       7.000000       9.990000
50%        44.000000    8259.000000      12.000000      14.990000
75%        66.000000   23965.000000      22.000000      23.490000
max        81.000000   90631.000000    3676.000000   13999.900000

In [13]:
df_EI["endDate"] = pd.to_datetime(df_EI["endDate"])

In [14]:
df_EI.isnull().sum()

InventoryId       0
Store             0
City           1284
Brand             0
Description       0
Size              0
onHand            0
Price             0
endDate           0
dtype: int64

In [15]:
df_t = df_EI[df_EI.isnull().any(axis = 1)]
df_t.head(10)

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
113895,46__58,46,NaN,58,Gekkeikan Black & Gold Sake,750mL,0,12.99,2024-12-31
113896,46__62,46,NaN,62,Herradura Silver Tequila,750mL,0,36.99,2024-12-31
113897,46__63,46,NaN,63,Herradura Reposado Tequila,750mL,0,38.99,2024-12-31
113898,46__77,46,NaN,77,Three Olives Espresso Vodka,750mL,0,14.99,2024-12-31
113899,46__106,46,NaN,106,Mr Boston Peach Schnapps,Liter,0,4.49,2024-12-31
113900,46__110,46,NaN,110,Mr Boston Creme de Menthe-Wh,Liter,0,6.49,2024-12-31
113901,46__112,46,NaN,112,Mr Boston Cr de Cacao White,Liter,0,6.49,2024-12-31
113902,46__113,46,NaN,113,Mr Boston Cr de Cacao Brown,Liter,0,6.49,2024-12-31
113903,46__114,46,NaN,114,Mr Boston Creme de Banana,Liter,0,6.49,2024-12-31
113904,46__126,46,NaN,126,Grey Goose Vodka,Liter,0,29.99,2024-12-31

we get to know that atleast for store == 46, we do not have the city name for some entries lets verify for all

In [16]:
df_EI[(df_EI['Store']==46) & (df_EI['City'] == 0)].head(20)

Empty DataFrame
Columns: [InventoryId, Store, City, Brand, Description, Size, onHand, Price, endDate]
Index: []

based on this it is clear to us that for all store == 46 we do not have a city name and also the onHnad quanitity is 0

In [ ]:
df_PP = pd.read_csv("/Users/harshdaruka/Documents/Projects/Vendor_Data_Analysis/Data/purchase_prices.csv")
df_Pur = pd.read_csv("/Users/harshdaruka/Documents/Projects/Vendor_Data_Analysis/Data/purchases.csv")
df_sales = pd.read_csv("/Users/harshdaruka/Documents/Projects/Vendor_Data_Analysis/Data/sales.csv")
df_VI = pd.read_csv("/Users/harshdaruka/Documents/Projects/Vendor_Data_Analysis/Data/vendor_invoice.csv")

In [18]:
df_PP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12261 entries, 0 to 12260
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Brand           12261 non-null  int64
 1   Description     12260 non-null  object
 2   Price           12261 non-null  float64
 3   Size            12260 non-null  object
 4   Volume          12260 non-null  object
 5   Classification  12261 non-null  int64
 6   PurchasePrice   12261 non-null  float64
 7   VendorNumber    12261 non-null  int64
 8   VendorName      12261 non-null  object
dtypes: float64(2), int64(3), object(4)
memory usage: 862.2+ KB

In [19]:
df_Pur.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2372474 entries, 0 to 2372473
Data columns (total 16 columns):
 #   Column          Dtype
---  ------          -----
 0   InventoryId     object
 1   Store           int64
 2   Brand           int64
 3   Description     object
 4   Size            object
 5   VendorNumber    int64
 6   VendorName      object
 7   PONumber        int64
 8   PODate          object
 9   ReceivingDate   object
 10  InvoiceDate     object
 11  PayDate         object
 12  PurchasePrice   float64
 13  Quantity        int64
 14  Dollars         float64
 15  Classification  int64
dtypes: float64(2), int64(6), object(8)
memory usage: 289.6+ MB

In [20]:
df_Pur.head()

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2023-12-24,2024-01-02,2024-01-09,2024-02-16,21.32,5,106.60,1

In [21]:
df_Pur ['PODate'] = pd.to_datetime(df_Pur['PODate'])
df_Pur ['ReceivingDate'] = pd.to_datetime(df_Pur['ReceivingDate'])
df_Pur ['InvoiceDate'] = pd.to_datetime(df_Pur['InvoiceDate'])
df_Pur ['PayDate'] = pd.to_datetime(df_Pur['PayDate'])

In [22]:
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12825363 entries, 0 to 12825362
Data columns (total 14 columns):
 #   Column          Dtype
---  ------          -----
 0   InventoryId     object
 1   Store           int64
 2   Brand           int64
 3   Description     object
 4   Size            object
 5   SalesQuantity   int64
 6   SalesDollars    float64
 7   SalesPrice      float64
 8   SalesDate       object
 9   Volume          float64
 10  Classification  int64
 11  ExciseTax       float64
 12  VendorNo        int64
 13  VendorName      object
dtypes: float64(4), int64(5), object(5)
memory usage: 1.3+ GB

In [23]:
df_sales ['SalesDate'] = pd.to_datetime(df_sales['SalesDate'])

In [24]:
df_VI.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5543 entries, 0 to 5542
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   VendorNumber  5543 non-null   int64
 1   VendorName    5543 non-null   object
 2   InvoiceDate   5543 non-null   object
 3   PONumber      5543 non-null   int64
 4   PODate        5543 non-null   object
 5   PayDate       5543 non-null   object
 6   Quantity      5543 non-null   int64
 7   Dollars       5543 non-null   float64
 8   Freight       5543 non-null   float64
 9   Approval      374 non-null    object
dtypes: float64(2), int64(3), object(5)
memory usage: 433.2+ KB

In [25]:
df_VI ['PODate'] = pd.to_datetime(df_VI['PODate'])
df_VI ['PayDate'] = pd.to_datetime(df_VI['PayDate'])

# Now we will export the data to MySQL

In [26]:
# Creatign the engine
engine = create_engine(
    "mysql+mysqlconnector://root:Root%402312@localhost:3306/vendor_details"
)

In [27]:
df_EI.to_sql(
    name = "End_Inventory",
    con = engine,
    if_exists = "replace",
    index = False
)

224489

In [29]:
df_BI.to_sql(
    name = "Begin_Inventory",
    con = engine,
    if_exists = 'replace',
    index = False
)

206529

In [28]:
df_PP.to_sql(
    name = "Purchase_Price",
    con = engine,
    if_exists = 'replace',
    index = False
)

12261

In [94]:
df_Pur.to_sql(
    name = "Purchases",
    con = engine,
    if_exists = 'replace',
    index = False
)

2372474

In [30]:
df_sales.to_sql(
    name="Sales",
    con=engine,
    if_exists='replace',
    index=False,
    chunksize=10000,
    method='multi'
)

12825363

In [31]:
df_VI.to_sql(
    name = "Vendor_Invoices",
    con = engine,
    if_exists = 'replace',
    index = False
)

5543